:root {
  --bg-clr: rgb(220, 194, 140);
  --border-clr: rgb(97, 97, 97);
}

.div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
}

.img {
  width: 100%;
  align-self: center;
  border-radius: 5px;
  border: 2px solid var(--border-clr);
}

.p {
  --line-clamp: 2;
  --line-height: 1.2;
  --font-size: 1.2rem;

  font-size: var(--font-size);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);

  height: calc(var(--font-size) * var(--line-clamp) * var(--line-height));

  overflow: hidden;
  overflow-wrap: anywhere;
}