.book_wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.book_cover {
  aspect-ratio: 1 / 1.5;
  max-width: min(200px, 100%);
  justify-self: center;
  object-fit: cover;
}

.book_name {
  --line-clamp: 2;
  --line-height: 1.2;
  --font-size: 1.2rem;

  color: var(--color-text-primary);

  line-height: var(--line-height);
  font-size: var(--font-size);
  font-weight: normal;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);

  min-height: calc(var(--line-clamp) * var(--line-height) * var(--font-size));

  overflow: hidden;
  overflow-wrap: anywhere;
}

.book_author,
.book_year_published,
.book_genres {
  --font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: var(--font-size);
  color: var(--color-text-secondary);
}

.add_favorite_btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}