.book_wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.book_cover {
  width: 100%;
  align-self: center;
}

.book_name {
  --line-clamp: 2;
  --line-height: 1.2;
  --font-size: 1.2rem;

  line-height: var(--line-height);
  font-size: var(--font-size);
  font-weight: normal;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);

  min-height: calc(var(--line-clamp) * var(--line-height) * var(--font-size));

  overflow: hidden;
  overflow-wrap: anywhere;
}

.add_favorite_btn {
  align-self: flex-start;
  padding: 5px 10px;
}