:root {
  --bg-clr: rgb(220, 194, 140);
  --border-clr: rgb(97, 97, 97);
}

.div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.img {
  width: 100%;
  align-self: center;
}

.p {
  --line-clamp: 2;
  --line-height: 1.2;
  --font-size: 1.2rem;

  line-height: var(--line-height);
  font-size: var(--font-size);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);

  min-height: calc(var(--line-clamp) * var(--line-height) * var(--font-size));

  overflow: hidden;
  overflow-wrap: anywhere;
}

.btn {
  align-self: flex-start;
  padding: 5px 10px;
}