@property --gradient-percentage {
  syntax: "<percentage>";
  initial-value: 10%;
  inherits: false;
}

.btn {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 3px;
}

.btn[data-variant="primary"] {
  background: linear-gradient(hsl(22 80% 70%), hsl(22 80% 50%) var(--gradient-percentage));
  color: var(--color-accent-text-primary);
  border: 1px solid var(--color-accent-border);
  transition: --gradient-percentage 0.3s ease;
}

.btn[data-variant="primary"]:hover {
  --gradient-percentage: 20%
}

.btn[data-variant="secondary"] {
  color: var(--color-text-primary);
  border: 1px solid var(--color-accent-border-secondary);
  background-color: var(--color-primary);
}