:root {
  --num-rows: 7
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section * {
  flex-basis: calc(100% / var(--num-rows));
}

@media (max-width: 1300px) {
  :root {
    --num-rows: 6
  }
}

@media (max-width: 1100px) {
  :root {
    --num-rows: 5
  }
}

@media (max-width: 900px) {
  :root {
    --num-rows: 4
  }
}

@media (max-width: 700px) {
  :root {
    --num-rows: 3
  }
}

@media (max-width: 500px) {
  :root {
    --num-rows: 2
  }
}