.wrapper_main,
.wrapper_empty {
  max-width: var(--content-width);
  margin: 0 auto;
}

.wrapper_empty {
  min-height: calc(100dvh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.message {
  font-size: 1rem;
  border: 1px dashed #909090;
  border-radius: 5px;
  padding: 5px 10px;
  color: gray;
}