.catalog_wrapper {
  display: flex;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper_main,
.wrapper_empty {
  flex: 1;
}

.wrapper_main {
  height: calc(100dvh - var(--header-height));
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.wrapper_empty {
  min-height: calc(100dvh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.book_catalog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.message_empty {
  font-size: 1rem;
  border: 1px dashed var(--color-border);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--color-text-secondary);
}