.wrapper_main,
.wrapper_empty {
  max-width: var(--content-width);
  margin: 0 auto;
}

.wrapper_empty {
  min-height: calc(100dvh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.book_catalog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.message_empty {
  font-size: 1rem;
  border: 1px dashed var(--color-border);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--color-text-secondary);
}