:root {
  --num-rows: 7
}

.wrapper_main,
.wrapper_empty {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper_empty {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.message {
  font-size: 1rem;
  border: 1px dashed #909090;
  border-radius: 5px;
  padding: 5px 10px;
  color: gray;
}

section * {
  flex-basis: calc(100% / var(--num-rows));
}

@media (max-width: 1300px) {
  :root {
    --num-rows: 6
  }
}

@media (max-width: 1100px) {
  :root {
    --num-rows: 5
  }
}

@media (max-width: 900px) {
  :root {
    --num-rows: 4
  }
}

@media (max-width: 700px) {
  :root {
    --num-rows: 3
  }
}

@media (max-width: 500px) {
  :root {
    --num-rows: 2
  }
}