.wrapper {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.header {
  max-width: 1600px;
  min-height: 70px;
  margin: 0 auto;
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 20px;
}

.link {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}