.filters_form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 10px;
}

.input_text {
  padding: 5px 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.genres_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.genre_label {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 0.9rem;
}

.reset_btn {
  padding: 5px 10px;
  font-size: 0.9rem;
}