.input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  transition: border 0.3s ease, outline 0.3s ease;
  outline: 1px solid transparent;
}

.input:hover {
  border: 1px solid var(--color-accent-border-secondary);
}

.input:focus {
  border: 1px solid var(--color-accent-border-secondary);
  outline: 1px solid var(--color-accent-border-secondary);
}