:root {
  --header-height: 60px;
  --content-width: 1600px;

  --color-primary: white;

  --color-text-primary: black;
  --color-text-secondary: gray;

  --color-border: rgb(185, 185, 185);

  --ff-primary: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

button {
  cursor: pointer;
}

body {
  margin-top: var(--header-height);
  font-family: var(--ff-primary);
}