:root {
  --header-height: 60px;
  --content-width: 1600px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  margin-top: var(--header-height);
}